fastapi
uvicorn
langchain-google-genai
langchain-groq
langchain-together
langchain-openai
python-dotenv
google-generativeai
langchain
pypdf
openpyxl
pandas
python-docx
chromadb
langchain-chroma
langchain-text-splitters
langgraph
langgraph-checkpoint-sqlite
aiosqlite
pyinstaller
ollama
